<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mirror.css') }}" media="screen" />
    <title>欢迎访问文件下载</title>
</head>

<body>

<h1>欢迎访问文件下载</h1>
<a href="{{ url_for('user.index') }}">返回主界面</a>
<table id="distro-table" cellpadding="0" cellspacing="0">
    <colgroup>
        <col width="50%"/>
        <col width="25%"/>
        <col width="25%"/>
    </colgroup>
    <thead>
        <tr>
            <th>文件名</th>
            <th>上次更新时间</th>
            <th>大小</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in file.items() %}
            {% if key|int %2==1  %}
            <tr class="odd">
            <td><a href="{{ url_for('static',filename='zip/%s' % value[0]) }}">{{ value[0] }}</a></td>
            <td>{{ value[2] }}</td>
            <td>{{ value[1] }}   MB</td>
            </tr>
                {% else %}
              <tr class="even">
            <td><a href="{{ url_for('static',filename='zip/%s' % value[0]) }}">{{ value[0] }}/</a></td>
            <td>{{ value[2] }}</td>
            <td>{{ value[1] }}   MB</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

</body>
</html>
